@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



* {
    margin: 0;
    padding: 0;
}

main {
    height: 80vh;
    overflow: auto;
    display: flex;
    align-items: center;
}

body {
    font-family: Source Code Pro, sans-serif;
    background-color: rgb(235, 198, 235);
}

nav {
    width: 80vw;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1em;
    margin-top: 5%;
    justify-content: flex-start;
}

nav a {
    text-decoration: none;
    color: black;
}


header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.website-title {
    margin-left: 5%;
    font-size: 7rem;
    font-family: Oswald;
    line-height: 100%;
    display: inline-block;
    position: relative;

}

.record {
    width: 60%;
    position: absolute;
    top: 30%;
    left: 100%; 
    transform: translateX(-50%); 
    overflow: hidden;
}

.record-player {
    width: 80%;
    position: absolute;
    top: 55%;
    right: 50%;
}

.subtitle {
    margin-top: 7%;
    max-width: 50vw;
    font-size: 2vh;
    margin-right: 5%;
    margin-left: auto;
    align-self: right;
    text-align: right;
}

footer {
    text-align: center;
    font-size: 1vh;
}